<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}/v2.0" />

    <!-- 
      ida:Tenant can be:
      - a proper tenant Id (a GUID) or tenant name (e.g. contoso.onmicrosoft.com) to sign-in only users of a given Azure AD tenant:
      - one of the following three words (**which are not proper tenants**, but only conventions)
        - 'common' to sign-in Work or School accounts and Microsoft personal accounts
        - 'organizations' to sign-in Work or School accounts
        - 'consumers' to sign-in only Microsoft personal accounts
    -->
    <add key="ida:Tenant" value="common" />
    <add key="ida:ClientId" value="[Enter_client_ID_Of_TodoListClient-v2_from_Azure_Portal,_e.g._784d7a5a-4a49-4d1d-b328-5812070f366f]" />

    <!--
      todo:TodoListScope is the scope of the Web API you want to call. This can be:
      - the ClientId, in the case your V2 application has several platform
      - a scope for a V2 application (for instance api://b3682cc7-8b30-4bd2-aaba-080c6bf0fd31/access_as_user)
      - a scope corresponding to a V1 application (for instance <GUID>/user_impersonation, where  <GUID> is the
        clientId of a V1 application, created in the https://portal.azure.com portal.
    -->
    <add key="todo:TodoListScope" value="api://[Enter_client_ID_Of_TodoListService-v2_from_Azure_Portal,_e.g._2ec40e65-ba09-4853-bcde-bcb60029e596]/access_as_user" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44351/" />
  </appSettings>
</configuration>
