<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ida:AADInstance" value="https://login.microsoftonline.com/{0}" />
    <add key="ida:Tenant" value="[Enter the name of your tenant, e.g. contoso.onmicrosoft.com]" />
    <add key="ida:ClientId" value="[Enter the Application ID (Client ID) of your application from the portal, e.g. 7de803e2-9k32-4e7a-8335-b77ae40297f0]" />
    <add key="ida:RedirectUri" value="[Enter the Redirect URI of your application from the portal, e.g. https://TodoListClient]" />
    <add key="todo:TodoListResourceId" value="[Enter the Application ID (Client ID) of the service, (e.g. a GUID)" />
    <add key="todo:TodoListBaseAddress" value="https://localhost:44351/" />
  </appSettings>
</configuration>
